.container {
    max-width: 960px !important;  
    margin: auto;
}
body, .footer {
    /*background-color:var(--bulma-primary-00)!important;
    color: rgb(241, 236, 226);*/
}
body, button, input, optgroup, select, textarea {
    font-family: 'Karla', sans-serif !important;
}
h1, h2, h3, h4, h5, .title {
  font-family: 'Karla', sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}